*.log
Homestead.json
Homestead.yaml
/node_modules
/public/build
/public/storage
/storage/logs/*
/storage/pail
/vendor
NOTES.txt
Thumbs.db
.env
.env.dev
.env.production
.DS_Store
.phpunit.result.cache
.vercel
/.vscode
